.decisions{
    display: flex;
    flex-direction: column;
    padding: 80px 150px 80px 180px;
    gap:32px;
}

.title-decisions{
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;

}

.cards-decisions{
    display: flex;
    gap:10px;
}