.footer-info{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #A3AAAB1A;
    border:0px;
    border-bottom: 1px;
    border-color: #A3AAAB33;
    border-style: solid;
    font-size: 16px;
    padding: 38px 150px 38px 150px;
    gap:97px;
    

}

.footer-info p:hover{
    color: #F2102B;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-info a:hover{
    color: #F2102B;
    transition: all 0.3s ease;
    cursor: pointer;
}



/* footer контейнер номер 1 */
.footer-container-1{
    grid-column: 1;
    max-width: 206px;
    display: flex;
    flex-direction: column;
    gap: 16px;
   
}
/* logo and name */
.phone-and-number{
    display: flex;
    align-items: center;
    gap:10px;
}
.logo-and-name{
    display: flex;
}
/* logo and name */

/* email and icon email */
.email-and-iconemail{
    display: flex;
    gap:10px;
}
/* email and icon email */
/* adress*/
.icon-point-and-adress{
    display: flex;
    gap:10px;
    margin: 0;
    line-height: 1.8;
}
/* adress*/

/* кнопка задать вопрос*/
.quastions-btn{
    border: 2px;
    border-color: #F2102B;
    border-style: solid;
    background-color: #FFFFFF;
    color: #F2102B;
    font-size: 16px;
    height: 48px;
    justify-items: center;
    align-content: center;
    transition: all 0.3s ease;
}

.quastions-btn:hover{
    background-color: #F2102B30;
    
}
/* кнопка задать вопрос*/

/* footer контейнер номер 1 */

/* footer контейнер номер 2 */
.footer-container-2{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.menu{
    font-weight: bold;
    color: black;
}


.link-menu-footer{
    display: flex;
    flex-direction: column;
    gap:16px;

}


/* footer контейнер номер 2 */


/* footer контейнер номер 3 */
.footer-container-3{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    gap:16px;
    
}

/* footer контейнер номер 3 */



/* footer контейнер номер 4 */
.footer-container-4{
    grid-column: 4;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 16px;
}

.subscribe-input{
    display: flex;
    background-color: #FFFFFF;
    height: 40px;
    align-items: center;
    width: 100%;
}


.sub-btn{
    display: flex;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: normal;
    background-color: #F2102B;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    min-width: 100px;
}

.sub-btn:hover{
    cursor: pointer;
    background-color: #F08080;
    transition: all 0.3s ease;
}

.sub-input{
    padding-left: 10px;
    width: 100%;
     max-width: 300px;
}

#sub-input{
    border: 0px;
    height: 40px;
    font-size: 16px;
    outline: none;
    width: 100%;
     max-width: 300px;
}

/* footer контейнер номер 4 */

.footer-ooo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    padding: 38px 180px 38px 180px;
    background-color: #A3AAAB1A;
}

.create-website{
    display: flex;
    width: 100%;
    
    
}

.ooo{
    display: flex;
    width: 100%;
   justify-content: center;
    
}
.politic-of-data{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    

}